.container-fluid{
    margin-top: 1em;
}
.h-50vh{
    height: 50vh;
}


.trend-product h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
.trend-product h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.trend-product .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.trend-product .carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.trend-product .carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.trend-product .carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.trend-product .carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.trend-product .carousel .item h4 {
	font-size: 18px;
}
.trend-product .carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.trend-product .carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.trend-product .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.trend-product .carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.trend-product .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.trend-product .carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.trend-product .carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #ffc000;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.trend-product .carousel-control-prev:hover, .carousel-control-next:hover {
	background: #ffc000;
	opacity: 1;
}
.trend-product .carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.trend-product .carousel-control-prev i {
	margin-left: -2px;
}
.trend-product .carousel-control-next i {
	margin-right: -4px;
}		
.trend-product .carousel-indicators {
	bottom: -50px;
}
.trend-product .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.trend-product .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.trend-product .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.trend-product .carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.trend-product .carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.trend-product .star-rating li {
	padding: 0;
}
.trend-product .star-rating i {
	font-size: 14px;
	color: #ffc000;
}

















.btn-orange {
    color: white;
    background: #ffc000;
    font-weight: 500;
    transition: 0.3s;
}
.btn-orange:hover{
    color: white;
    background: #023047;
}













body {
    background-color: #eee
}

.mt-100 {
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}

.card {
    border-radius: 7px !important;
    border-color: #e1e7ec
}

.mb-30 {
    margin-bottom: 30px !important
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec
}

a {
    color: #0da9ef;
    text-decoration: none !important
}

.card-img-tiles>.inner {
    display: table;
    width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    vertical-align: middle
}

.card-img-tiles .main-img>img:last-child,
.card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.thumblist {
    width: 35%;
    border-left: 1px solid #e1e7ec !important;
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}

.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}